<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.claudiocavallaro.progettogad" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icona"
        android:label="La promozione per te"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="La promozione per te"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity
            android:name=".Activity.SplashScrennActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.InfoActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:label="Informazioni"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>

        <activity
            android:name=".Activity.CardActivity"
            android:label="Specifiche"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activity.CercaActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:label="Cerca ..."
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>

        <activity
            android:name=".Activity.GestoreActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:label="Cerca ..."
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>


        <activity
            android:name=".Activity.ResultActivity"
            android:parentActivityName=".Activity.GestoreActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.GestoreActivity" />
        </activity>

        <activity
            android:name=".Activity.SettingActivity"
            android:parentActivityName=".Activity.CercaActivity"
            android:label="Setting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.CercaActivity" />
        </activity>

        <activity
            android:name=".Activity.FavActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:label="Preferiti"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>

    </application>

</manifest>
